# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Python packaging
*.egg-info/
dist/
build/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment / secret files
.env
